* {
  box-sizing: border-box;
}

 /* body {
  margin: 0;
  padding: 0; 
} */

body {
  font-family: 'Rubik', sans-serif;
}

header {
  line-height: 1.2;
  text-align: center;
}

h1 {
  font-family: 'Quicksand', sans-serif;
}


.collapsible {
  background-color: #777;
  color: white;
  width: 100%;
  margin: 5px 0;
  cursor: pointer;
  padding: 14px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 10px 15%;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  font-size: 16px;
}

input, select {
  width: 100%;
}

.js-address, #js-neighborhoods, #js-veg-level {
  font-size: 16px;
}

#results {
  text-align: center;
}

.resultsColumn {
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
}

.submit {
  font-size: 20px;
  padding: 18px;
  width: 100%;
  background-color: black;
  color: white;
  outline: none;
  border: none;
  font-family: 'Quicksand', sans-serif;
}

.active, .submit:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}

.searchCat, .searchCat1 {
  width: 100%;
}

.searchCat2, .searchCat3 {
  width: 200px;
  margin: 0 auto;
}

select > #js-veg-level {
  margin: 0 auto;
}

.searchCat1 > label {
  margin-bottom: 5px;
  display: block;
}

#js-wheelchair, #js-accepts-res {
  width: 20px;
}

#js-food-types, #js-attributes {
  margin-bottom: 20px;
  font-size: 16px;
}

.search {
  margin: 0 5px;
}

.mapContainer {
  height: 400px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

#map {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

#floating-panel {
  margin-bottom: 50px;
}

#results-list {
  padding: 0;
  display: inline;
}

.resultsColumn {
  padding-top: 10px;
}


.liVeglev,
.liNeighborhood,
.liAddress,
.liDescription, .liTags {
  display: block;
}

.liRestaurantName {
  font-weight: bold;
  font-size: 20px;
}

.liVeglev {
  font-style: italic;
}

li {
  margin-bottom: 10px;
  list-style: none;
  border: 1px solid green;
  padding: 10px 35px;
  line-height: 1.4;
  text-align: left;
}

li:hover {
  background: green;
  color: white;
}

img {
  padding-left: 5px;
  width: 25px;
}

#floating-panel {
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#floating-panel > input {
  width: 200px;
}